
    <div class="row">
        <div class="col pt-4">
            <img src="" alt="cardImage" class="cardImage">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p> Nome:. nome do colaborador</p>
        </div>
    </div>
    <div class="row  ">

        <div class="col">
            <ul class="meulist">
                <li class="itens"><a href="/produto" class="itemlink"  rel="noopener noreferrer">
                        <i class="bi bi-box"></i> Produto</a></li>
                <li class="itens"><a href="/produto/lista" class="itemlink"  rel="noopener noreferrer">
                        <i class="bi bi-card-list"></i> Lista Produto</a></li>
                <li class="itens"><a href="#" class="itemlink" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-plus-circle"></i> Cadastro</a></li>
                <li class="itens"><a href="#" class="itemlink" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-card-heading"></i> Editar</a></li>
            </ul>

        </div>

    </div>

