
    <div class="row pl-3 pt-3">
        <h2>Lista de Produto</h2>
    </div>
  <hr class="m-0"/>  

  <table class="table mt-5">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nome</th>
        <th>Peço</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
       {{#each prod }}
      <tr>
           <td >{{_doc.txcdprod}}</td>
     
           <td >{{_doc.txnmprod}}</td>
      
           <td >{{_doc.txpcprod}}</td>
      
           <td >{{_doc.txdcprod}}</td>
      </tr>
      {{/each}} 
 
    </tbody>
  </table>

